body {
  background-color: white;
  color: black;
  font-family: "Gabarito", sans-serif;
}

.nav-form{
 top: 0%;
}

.form-container{
  background-color: black;
  color: white;
  border: 3px solid #f1f1f1;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.form-series {
  height: 77%;
}

.film-title {
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 3rem;
  margin-bottom: 20px;
}

h1{
  top: 0%;
}

.align-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
  gap: 20px;
  margin-top: 10px;
}

.align-links a:visited {
  color: #d32525
}

.logo-section {
  margin-top: 10px
}

.container {
  max-width: 1500px;
  margin-top: 50px;
}

.main-header {
  top: 30%;
  left: 50%;
}

.form-control {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
}


.form-label {
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}

.thumbnail {
  background-color: #fff;
  border-radius: 25px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.btn-create {
  background-color: white;
  color: black;
  border-radius: 25px;
  font-weight: bold;
  width: 60%;
}

.btn-lg {
  margin-top: 8%;
  width: 60%;
}

.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.genre-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.genre-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.genre-box a {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

input[type=email],
input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 25px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}

label {
  padding-left: 10px;
  margin: 8px 25px;
}

button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 25px;
}



button:hover {
  opacity: 0.8;
}

.navbar-text {
  font-size: 1rem;
  margin-right: 20px;
}