body {
    background-color: black;
    font-family: "Gabarito", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

.top-page {
    position: relative;
    text-align: center;
    margin-top: 12px;
    width: 100%;
    height: 350px;
}

.top-page img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 35%;
    opacity: 0.3;
}

.movie-title {
    color: white;
    font-weight: 500;
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.movie-starRating {
    position: absolute;
    top: 85px;
    left: 50px;
}

.movie-release-year {
    color: white;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 115px;
    left: 50px;
}

.movie-creator {
    color: white;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    bottom: 70px;
    left: 50px;
}

.movie-creator-name {
    color: white;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    bottom: 70px;
    left: 161px;
}

.movie-about-container {
    display: inline-block;
}

.movie-about-header {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin-left: 60px;
    width: 40%;
}

.movie-about {
    display: inline-block;
    padding: 15px 20px 15px 20px;
    background-color: white;
    width: 600px;
    height: 300px;
    margin: 10px 0px 0px 55px;
    border-radius: 10px;
    overflow-x: hidden;
}

/*scrollbar customization*/
.movie-about::-webkit-scrollbar {
    width: 8px;
}

.movie-about::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
}

.movie-about::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.movie-about-attributes {
    font-weight: 700;
    font-size: 18.5px;
    width: 600px;
}

.movie-about-title {
    font-weight: 400;
    font-size: 17px;
    width: 560px;
    min-height: 20px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.movie-about-year {
    font-weight: 400;
    font-size: 17px;
    width: 560px;
    min-height: 20px;
    word-wrap: break-word;
}

.movie-about-genre {
    font-weight: 400;
    font-size: 17px;
    width: 560px;
    min-height: 20px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.movie-about-seasons {
    font-weight: 400;
    font-size: 17px;
    width: 560px;
    min-height: 20px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.movie-about-director {
    font-weight: 400;
    font-size: 17px;
    width: 560px;
    min-height: 20px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.movie-about-actors {
    font-weight: 400;
    font-size: 17px;
    width: 560px;
    min-height: 20px;
    word-wrap: break-word;
}

.movie-description-container {
    float: right;
}

.movie-decription {
    /*top, right, bottom, left*/
    padding: 15px 20px 15px 20px;
    background-color: white;
    width: 600px;
    height: 300px;
    /*top, right, bottom, left*/
    margin: 10px 55px 0px 0px;
    border-radius: 10px;
    overflow: auto;
    font-weight: 400;
    font-size: 18px;
    word-wrap: break-word;
    /*Blocksatz*/
    text-align: justify;
}

/*scrollbar customization*/
.movie-decription::-webkit-scrollbar {
    width: 8px;
}

.movie-decription::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
}

.movie-decription::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.movie-description-header {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 25px;
    width: 40%;
}

/*COMMENTS*/

.movie-review-container {
    width: 93%;
    height: 1320px;
    background-color: rgb(34, 34, 34);
    margin: 70px 0px 40px 0px;
    border-radius: 10px;
    border-color: rgb(94, 94, 94);
    border-style: solid;
    border-width: thin;
}

.movie-review-header {
    color: white;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    /*top, right, bottom, left*/
    margin: 20px 0px 20px 25px;
}

.movie-comments {
    height: 620px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

/*scrollbar customization*/
.movie-comments::-webkit-scrollbar {
    width: 8px;
}

.movie-comments::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(119, 119, 119);
}

.movie-comments::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.movie-review-form-container {
    margin-top: 70px;
    background-color: black;
    width: 100%;
    height: 513px;
    border-color: rgb(94, 94, 94);
    border-style: solid;
    border-width: thin;
}

.movie-review-form-header {
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin: 20px 0px 20px 25px;
    text-align: left;
}

.movie-review-form {
    height: 335px;
    text-align: left;
    margin: 20px 25px 20px 25px;
}

#name-label {
    color: white;
    font-size: 22px;
}

#commentator_name {
    border: none;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    color: rgb(153, 123, 84);
    height: 35px;
    min-width: 150px;
    margin: 10px 0px 10px 0px;
    font-family: "Gabarito", sans-serif;
    font-size: 17px;
}

#commentator_name:focus {
    outline: none;
}

#review-text {
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    width: 1360px;
    height: 170px;
    resize: none;
    color: rgb(153, 123, 84);
    font-family: "Gabarito", sans-serif;
    font-size: 17px;
    outline: none;
    height: 170px;
    flex: 1;
}

.review-text-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#sumbit-comment-btn {
    border: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: rgb(71, 71, 71);
    background-color: black;
    padding: 10px;
    width: 90px;
    margin-top: 12px;
    color: white;
    font-family: "Gabarito", sans-serif;
    font-size: 15px;
    transition: 300ms;
    cursor: pointer;
}

#sumbit-comment-btn:hover {
    background-color: rgb(20, 20, 20);
}


#starrating-label {
    color: white;
    font-size: 22px;
}

.star-rating-container {
    direction: rtl;
}

.star-rating-container label {
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 300ms;
}

.star-rating-container input[type="radio"] {
    display: none;
}

.star-rating-container input[type="radio"]:checked~label {
    color: rgb(153, 123, 84);
}

.star-rating-container label:hover,
.star-rating-container label:hover~label {
    color: rgb(153, 123, 84);
}