body {
    background-color: black;
    font-family: "Gabarito", sans-serif;
    font-style: normal;
    width: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.navbar {
    height: 50px;
    width: 97%;
    padding: 10px 20px;
    background: black;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
}

.login-btn {
    color: white;
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: black;
    border-style: solid;
    border-radius: 20px;
    border: none;
    /*top, right, bottom, left*/
    padding: 10px 15px 10px 15px;
    border-width: thin;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    position: relative;
    left: 110px;
}

.register-btn {
    color: white;
    width: 110px;
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(48, 48, 48);
    /*top, right, bottom, left*/
    padding: 8px 13px 8px 13px;
    border-width: thin;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    margin-left: 50px;
    position: relative;
    right: 150px;
}

.reviewer-logo {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-weight: 600;
    font-size: 27px;
    margin-right: auto;
}

.navbar .bg-dark {
    background-color: black !important;
}

.user-btn {
    color: white;
    width: auto;
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(48, 48, 48);
    /*top, right, bottom, left*/
    padding: 8px 13px 8px 13px;
    border-width: thin;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    margin-left: 50px;
    /*won't line break after space between Hallo and the Username -> Hallo, Username*/
    white-space: nowrap;
}

